<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:allowAudioPlaybackCapture="true"
    package="com.linjing.rtc.demo">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LiveDemo">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.linjing.rtc.demo.screen.ScreenCaptureActivity"
            android:exported="true">
        </activity>

        <service android:name="com.linjing.rtc.demo.screen.ScreenCaptureService"/>

        <activity
            android:name="com.linjing.rtc.demo.cloudgame.CloudGameControlActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.Fullscreen">
        </activity>
        <activity android:name="com.linjing.rtc.demo.cloudgame.CloudGameControlJoinActivity" />

        <activity android:name="com.linjing.rtc.demo.rtm.MultiRTMActivity" />
        <activity android:name="com.linjing.rtc.demo.rtm.P2PRTMActivity" />
        <activity android:name=".agora.AgoraCameraPushActivity" />
        <activity android:name=".agora.AgoraPullActivity" />
        <activity android:name=".agora.VoipCallActivity" />
        <activity android:name=".agora.CustomPlayerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
    </application>

</manifest>